<!DOCTYPE html>
<html>
       <link rel="stylesheet" type="text/css" href="../static/style22.css" />
       <script src="../out.js"></script>
       <body>
                     <nav >
                     <ul class="home">
                     <li class="tech"><h1>Tech Titans</h1></li>
                     <li class="ps"><a href="#"><h2> Purpose </h2></a></li>
                     <li class="be" ><a href="#"><h2> Benefits</h2> </a></li>   
                     <li class="ot"><a href="#"><h2>Our team</h2> </a></li>   
                     </ul>   
                     </nav>
              <div class="cloudburst">
              <h2 class="Heading">Cloudburst Prediction System</h2>
              <h3 class="caption">A cloudburst prediction system employs advanced meteorological data analysis and modeling to
                      forecast sudden, intense rainfall events, aiding in early warnings and mitigation efforts to prevent
                      flash floods.The time it takes to predict cloudburst varies depending on the sophistication of the prediction system and the complexity of the weather conditions. Advanced meteorological models can provide short-term predictions within hours, but accurate long-term predictions may take several days. While prediction systems have improved, cloudbursts can still be challenging to forecast due to their sudden and localized nature. Therefore, while progress has been made, achieving absolute efficiency in cloudburst prediction remains a 
                      complex and ongoing endeavor in meteorology.
                     </h3>
                     <img src="../static/cloud.jpeg" class="image">
              </div>
              <div class="team" id="team-section">
                     <h1>Our Team</h1>
                     <ul>
                            <li>AKRITI JHA</li>
                            <li>ABHAY GUPTA</li>
                            <li>MOHIT KUMAR</li>
                            <li>AKSHAT AGRAWAL</li>
                            <li>PURNASISH PATTNAYAK </li>
                            <li>BALWANT SINGH CHAUHAN</li>
                     </ul>
              </div>
       <div class="content">
              <div class="p">
       <ul>
              <li><h1 class="purpose" id="purpose-section">Purposes</h1></li>
              <li>Enhance public safety</li>
              <li>Minimize property damage</li>
              <li>Optimize resource allocation</li>
              <li>Support disaster preparedness</li>
              <li>Enable informed decision-making</li>
              <li>Contribute to scientific research</li>
              <li>Minimize economic impact</li>
       </ul>
</div>
              <div class="benefits" id="benefits-section">
              <ul>
                   <li> <h1>Benefits</h1></li>
              <li>Early Warning: Provides early alerts, enabling timely disaster response and resource allocation.</li>

              <li> Risk Mitigation: Identifies high-risk areas and informs land-use planning to reduce vulnerability.</li>
                     
              <li>  Resource Allocation: Facilitates efficient deployment of emergency teams and supplies.</li>
                     
              <li> Infrastructure Protection: Helps safeguard critical infrastructure.</li>
                     
              <li> Public Safety: Disseminates vital safety instructions, reducing casualties.</li>
              <li>  Data for Policy: Generates data for informed policy decisions in disaster management and climate adaptation.</li>
              </ul>
              </div>
              </div>
              <div class="button-container">
              <a href="index.html" class="next-button">Next Page</a>
              </div>
       </body>              
</html>