<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Day</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <main>
        <div class="weather">
            <h3 id="weatherText">It's Sunny Today!</h3>
        </div>
        <div class="quote">
            <p id="quoteText"></p>
        </div>
    </main>
    <footer>
        <img src="../static/OIP.jpg" alt="Sunny Day" class="centre" width="600" height="300" >
    </footer>
    <script src="../script1.js"></script>
</body>
</html>
