<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Burst</title>
    <link rel="stylesheet" href="../static/style3.css">
</head>
<body>
    <main>
        <div class="weather">
            <h3 id="weatherText">Chances of Cloud Burst!!!</h3>
        </div>
        <div class="red">
            <p>Be highly cautious during cloudbursts. Stay indoors if possible. Avoid low-lying areas, riverbanks, and steep slopes. If outdoors, seek higher ground immediately. Do not attempt to drive through flooded roads. Follow emergency alerts and evacuation orders. Safety first.</p>
        </div>
    </main>
    <footer>
        <video width="600" height="360" controls autoplay muted class="centre">
            <source src="../static/Tsunami from Heaven _ Amazing Rainstorm Timelapse _ Downburst _ Microburst.mp4" type="video/mp4">
          </video>
    </footer>
    <script src="../script3.js"></script>
</body>
</html>
